.color_corporativo {
    background: linear-gradient(rgb(85, 5, 85), rgb(97, 0, 0));
}
a {
    color: #fff !important;
}

.logo{
    width: 150px;
    height: 150px;
    background-position: center center;
    background-size: cover;
    border-radius:150px;
}