/*div{
    display: inline-table;
}

.cuerpo{
    width: 200px;
    height: 650px;
    border: 1px solid #000; 
}

.cuerpo .caraizq{
    width: 50px;
    height: 330px;
    position: absolute;
    border: 1px solid #0f0; 
}

.cuerpo .centro{
    width: 100px;
    height: 330px;
    position: relative;
    margin-left: 50px; 
    vertical-align: middle;
    border: 1px solid #f00;
}

.cuerpo .centro .caja{
    width: 100px;
    height: 108px;
    background-color: #000;
    border: 1px solid #000; 
    box-shadow: inset 0PX 0PX 10PX white;
}

.cuerpo .caja .rojo{
    border-radius: 360px;
    background-color: #9e0a0a;
    width: 70px;
    height: 70px;
    margin-top: 20%;
    margin-left: 15%;
    position: relative;
}
.cuerpo .caja .rojo:hover{
    background-color: #f00;
    box-shadow: 0px 0px 20px #ff4f4f;
}

.cuerpo .caja .amarillo{
    border-radius: 360px;
    background-color: #5e6300;
    width: 70px;
    height: 70px;
    margin-top: 20%;
    margin-left: 15%;
    position: relative;
}
.cuerpo .caja .amarillo:hover{
    background-color: #ff0;
    box-shadow: 0px 0px 20px #ffff6a;
}

.cuerpo .caja .verde{
    border-radius: 360px;
    background-color: #005e03;
    width: 70px;
    height: 70px;
    margin-top: 20%;
    margin-left: 15%;
}
.cuerpo .caja .verde:hover{
    background-color: #0f0;
    box-shadow: 0px 0px 20px #77fd77;
}

.cuerpo .carader{
    width: 50px;
    height: 330px;
    position: absolute;
    border: 1px solid #0f0; 
}

.cuerpo .mastil{
    width: 100px;
    height: 350px;
    border: 1px solid #000;
    position: relative;
    margin-left: 50px;
}
.cuerpo .mastil .tubo{
    width: 20px;
    height: 330px;
    background-image: linear-gradient(90deg, #fff 10%,#000, #000 61%, #fff);
    border: 1px solid #000;
    position: relative;
    margin-left: 40px;
    vertical-align: middle;
    box-shadow: 0px 0px 10px #000;
}
.cuerpo .mastil .base1{
    width: 80px;
    height: 20px;
    border: 1px solid #000;
    position: relative;
    margin-left: 10px;
    vertical-align: middle;
    box-shadow: 0px 0px 10px #000;
    background-image: linear-gradient(90deg, white,black 20%, white);
}


.cuerpo .mastil .base2{
    width: 100px;
    height: 20px;
    background-image: linear-gradient(90deg, white,black 20%, white);
    border: 1px solid #000;
    box-shadow: 0px 0px 10px #000;
}
*/

body {
    text-align: left;
    padding: 20px;
}

div {
    display: inline-table;
}

.semaforo {
    width: 200px;
    height: 650px;
    clear: both;
}

.sideleft {
    width: 50px;
    height: 650px;
    vertical-align: top;
    clear: both;
}

.sideleft .cajas {
    width: 50px;
    height: 100px;
    clear: both;
    display: flex;
}

.sideleft .cajas .tapa-negra {
    position: relative;
    display: inline-block;
    top: 5px;
    left: 10px;
    width: 50px;
    height: 60px;
    border-radius: 0px 0px 0px 365px;
    background: linear-gradient(#000, #fff, #999 25%, #000 50%);
}

.sideleft .cajas .red-light {
    float: right;
    width: 10px;
    height: 70px;
    background: radial-gradient(closest-corner at 50% 20%, #ee7e87, #f96b6b, #630101);
    background-size: 3px 100%;
    box-shadow: inset 0px 0px 7px #fff;
    margin-top: 15px;
    border-radius: 365px 0px 0px 365px;
}

.sideleft .cajas .yellow-light {
    float: right;
    width: 10px;
    height: 70px;
    background: radial-gradient(closest-corner at 50% 20%, #eeca7e, #f9dd6b, #756300);
    background-size: 3px 100%;
    box-shadow: inset 0px 0px 7px #fff;
    margin-top: 15px;
    border-radius: 365px 0px 0px 365px;
}

.sideleft .cajas .green-light {
    float: right;
    width: 10px;
    height: 70px;
    background: radial-gradient(closest-corner at 50% 20%, #d7f7d3, #bdf4ae, #1c5000);
    background-size: 3px 100%;
    box-shadow: inset 0px 0px 7px #fff;
    margin-top: 15px;
    border-radius: 365px 0px 0px 365px;
}

.sidemiddle {
    width: 100px;
    height: 650px;
    vertical-align: top;
}

.sidemiddle .cajas {
    width: 98px;
    height: 98px;
    background: linear-gradient(#777, #000);
    box-shadow: inset 4px 4px 4px #fff, inset -4px -4px 4px #777;
    border: 1px solid #000;
    text-align: center;
    vertical-align: middle;
}

.sidemiddle .cajas .reflector-base {
    width: 80px;
    height: 80px;
    background-color: #000;
    border: 2px solid #777;
    box-shadow: inset 0px -4px 4px #fff, inset 0px 4px 4px #000;
    border-radius: 365px;
    margin-top: 2px;
    text-align: center;
    vertical-align: middle;
}

.sidemiddle .cajas .reflector-base .red-light {
    width: 77px;
    height: 77px;
    border-radius: 365px;
    margin-top: 4px;
    border: 2px solid #555;
    background: radial-gradient(closest-corner at 50% 20%, #ee7e87, #f96b6b, #630101);
    background-size: 3px 100%;
    box-shadow: inset 0px 0px 7px #fff;
}

.sidemiddle .cajas .reflector-base .yellow-light {
    width: 77px;
    height: 77px;
    border-radius: 365px;
    margin-top: 4px;
    border: 2px solid #555;
    background: radial-gradient(closest-corner at 50% 20%, #eeca7e, #f9dd6b, #756300);
    background-size: 3px 100%;
    box-shadow: inset 0px 0px 7px #fff;
}

.sidemiddle .cajas .reflector-base .green-light {
    width: 77px;
    height: 77px;
    border-radius: 365px;
    margin-top: 4px;
    border: 2px solid #555;
    background: radial-gradient(closest-corner at 50% 20%, #d7f7d3, #bdf4ae, #1c5000);
    background-size: 3px 100%;
    box-shadow: inset 0px 0px 7px #fff;
}

.sideright {
    width: 50px;
    height: 650px;
    vertical-align: top;
    clear: both;
}

.sideright .cajas {
    width: 50px;
    height: 100px;
    clear: both;
    display: flex;
}

.sideright .cajas .tapa-negra {
    position: relative;
    display: inline-block;
    top: 5px;
    left: 0px;
    width: 40px;
    height: 60px;
    border-radius: 0px 0px 365px 0px;
    background: linear-gradient(#000, #fff, #999 25%, #000 50%);
}

.sideright .cajas .red-light {
    position: relative;
    left: -40px;
    z-index: -1;
    width: 10px;
    height: 70px;
    background: radial-gradient(closest-corner at 50% 20%, #ee7e87, #f96b6b, #630101);
    background-size: 3px 100%;
    box-shadow: inset 0px 0px 7px #fff;
    margin-top: 15px;
    border-radius: 0px 365px 365px 0px;
}

.sideright .cajas .yellow-light {
    position: relative;
    left: -40px;
    z-index: -1;
    width: 10px;
    height: 70px;
    background: radial-gradient(closest-corner at 50% 20%, #eeca7e, #f9dd6b, #756300);
    background-size: 3px 100%;
    box-shadow: inset 0px 0px 7px #fff;
    margin-top: 15px;
    border-radius: 0px 365px 365px 0px;
}

.sideright .cajas .green-light {
    position: relative;
    left: -40px;
    z-index: -1;
    width: 10px;
    height: 70px;
    background: radial-gradient(closest-corner at 50% 20%, #d7f7d3, #bdf4ae, #1c5000);
    background-size: 3px 100%;
    box-shadow: inset 0px 0px 7px #fff;
    margin-top: 15px;
    border-radius: 0px 365px 365px 0px;
}

.mastil {
    height: 350px;
    width: 100px;
    display: grid;
    text-align: center;
    clear: both;
}

.mastil .tubo {
    width: 30px;
    height: 300px;
    background: linear-gradient(90deg, #fff 0% 10%, #000 30% 70%, #fff 90% 100%);
    border: 1px solid #000;
    box-shadow: inset 0px 0px 5px #000, 2px 0px 10px #000;
    margin: 0px auto;
}

.mastil .base1 {
    width: 70px;
    height: 25px;
    background: linear-gradient(90deg, #fff 0% 10%, #000 30% 70%, #fff 90% 100%);
    border: 1px solid #000;
    box-shadow: inset 0px 0px 5px #000, 2px 0px 10px #000;
    margin: 0px auto;
}

.mastil .base2 {
    width: 100px;
    height: 25px;
    background: linear-gradient(90deg, #fff 0% 10%, #000 30% 70%, #fff 90% 100%);
    border: 1px solid #000;
    box-shadow: inset 0px 0px 5px #000, 2px 0px 10px #000;
    margin: 0px auto;
} 